<h2>Please choose</h2>
<input type="number" placeholder="id" 
min ='1' max = '10' [(ngModel)]='frmId'/> <br/>

<select [(ngModel)]='whichCategory'> 

    <option *ngFor='let item of choices'>{{item.cat}}</option>

</select>


<button (click)='handleClick()'>CHOOSE</button>


<h2>Here are the results</h2>
<pre>{{model | json}}</pre>