<article>
  <section>
    <h2>{{title}}</h2>
    <h3>Today is {{today}}</h3>

    <ul>
      <li
        *ngFor='let item of products'> 
        {{item.desc}} {{item.price | currency: 'GBP'}}
      </li>
    </ul>
    <button *ngIf='flag' (click)='handleClick()'>Agree</button>
    <!--Bracket binding-->
    <aside [hidden]='showFlag'>this is css</aside>
    <img [src]='myURL'/>

    <!--Instatiating the components which is cone in this example-->
    <app-cone></app-cone>
    
    <app-ctwo></app-ctwo>
    
    <app-fb [id]='otherId' (myEvent)='handleCustomEvent($event)'></app-fb>
  
  </section>
</article>
